<% include ../partials/header %>
<div class="jumbotron">
<center><h2>PROFILE</h2></center>

<center><h1 ><%= fullname %></h1></center>
<center><img src="https://scontent.fbkk8-2.fna.fbcdn.net/v/t1.0-9/40291120_1856846464395904_5810128330921345024_n.jpg?_nc_cat=107&_nc_ht=scontent.fbkk8-2.fna&oh=432fbe93a4f888268b4d98e7cc1c8634&oe=5C4065E5"width="300"</center>
<center><ul>
    <% hobbies.forEach(function(hobby) { %>
        <li><%= hobby %></li>
    <% }); %>
</ul></center>
<h3><%= bdate %></h3>
</div>
        <% include ../partials/footer %>

