<% include ../partials/header %>
<div class="jumbotron">
<center><img src="https://www.be-practical.com/assets/images/ProductImagePath/Advanced-full-stack-developers-course-in-bangalore.png"width="500"</center>
    
     <B><center><h1 class="display-3">140-390 Full Stack Web with JS</h1></center></B>
     <center><h1 class="display-3">Express+EJS!</h1></center>
     <center><p class="lead">MY STORY</p></center>
     <hr class="my-2">
      
     <p class="lead">
          <center><a class="btn btn-danger btn-lg" href="/about" role="button">Profile</a></center>
     </p>
 </div>
<% include ../partials/footer %>
